.cadreLocation {
  background-color: var(--mediumGreenLow);
  border: 1px solid var(--mediumGreen);
  color: var(--darkGreen);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
  gap: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.cadreLocRej {
  border-color: var(--darkGreen);
}
.cadreLocFin {
  border-color: var(--lightGreen);
}
.cadreLocation>.locationTitle {
  margin: 0;
}
.cadreLocation>a,
.cadreLocation>a:visited {
  margin: 0;
  color: var(--mediumGreen);
}
.cadreLocation>a:hover,
.cadreLocation>a:visited:hover {
  filter: brightness(80%);
}
.cadreLocation>a.locationTitle,
.cadreLocation>a.locationTitle:visited {
  color: var(--darkGreen);
  text-decoration: none;
}
.cadreLocation>a.locationTitle:hover,
.cadreLocation>a.locationTitle:visited:hover {
  filter: brightness(90%);
  font-weight: 800;
}