@font-face {
  font-family: Poppins_light;
  src: url("./ressources/font-poppins/Poppins-Light.otf");
}
@font-face {
  font-family: Poppins_semiBold;
  src: url("./ressources/font-poppins/Poppins-SemiBold.otf");
}
@font-face {
  font-family: Poppins_bold;
  src: url("./ressources/font-poppins/Poppins-Bold.otf");
}

:root {
  /* Variables */
  /*Colors*/
  --black: #090b09;
  --white: #eff2ef;
  --darkGreen: #042a2b;
  --mediumGreen: #1b92a4;
  --lightGreen: #9ad4e2;
  --lightGreenLow: rgba(154, 212, 226, 0.5);
  --darkGreenLow: rgba(4, 42, 43, 0.5);
  --mediumGreenLow: rgba(27, 146, 164, 0.5);
  --errorRed: #de2a44;
  --gray: #6e7198;
  /*Gradient*/
  --primaryGradient: linear-gradient(#4cb2c3, #1b92a4);
  --hoverPrimaryGradient: linear-gradient(#6ed5e7, #41b1c2);
  --secondaryGradient: linear-gradient(#aee2ef, #6abbcb);
  --hoverSecondaryGradient: linear-gradient(#c2eef8, #9ad4e2);

  --shadow-color: 0deg 0% 50%;
  /*Size*/
  --title: 24px;
  --text: 16px;
  --label: 13px;
}
div#root,
#root>div {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

textarea {
  resize: vertical;
}
@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media (hover: none) {
  .button {
    text-shadow: none;
  }
}
